.textoverimage{
	position: relative;
	border:1px solid rgb(145, 144, 144);
	transition: 0.5s;
	width: auto;
}


.textoverimage:after{
	position: absolute;
	top: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	word-wrap: break-word;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6);
	color: #66FCF1;
	padding: 0 8px;
	opacity: .1;
	content:attr(data-text);
	transition: 0.5s;
}

.textoverimage:hover:after{
	opacity: .9;
	top: 75%;
	padding: 8px;
	width: 100%;
}

.imageSize{
	height: 300px;
	width: 600px;
	border:1px solid #c5c6c7;
	margin-left: auto;
	margin-right: auto;
}

.NavLink:hover{
	color: #45a29e;
	text-decoration: underline;
}
