#NavBar{
	z-index: 1;
	border:4px solid rgb(145, 144, 144);
	position: fixed;
	background-color: rgba(26, 25, 25, 0.8);
	width: 100%; 
	height: auto;
	top: 0;
	text-align: center;
}

.NavLink{
	color: #66FCF1;
	text-decoration: none;
	font-size: 1em;
	padding: 16px;
	font-family: Sans-serif;
	text-align: center;
}


.imageSize{
	height: auto;
	width: 80%;
	border:1px solid #c5c6c7;
	margin-left: auto;
	margin-right: auto;
}

.zomboid{
	border:2px solid #c5c6c7;
}

#Portfolio{
	margin-top: 6em;
	width: 100%;
}

#Showcase{
	margin-top: 80px;
}

body{
	background-color: rgb(26, 25, 25);	
}


.links{
	display: inline-block;
}

ul{
	list-style: none;
}

ul li{
	display: inline-block;
}

tr{
	float :left;
}

td{
	padding: 20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

.title{
	color: white;
	text-decoration: none;
	font-size: 1.5em;
	width: 100%;
	font-family: Sans-serif;
	text-align: center;
	border:2px solid #45a29e;	
}

.box{
	color: white;
	text-decoration: none;
	width: 100%;
	font-family: Sans-serif;
	text-align: center;
	border:2px solid #45a29e;
}

.SiteText{
	color: white;
	text-decoration: none;
	font-size: 1em;
	font-family: Sans-serif;
	text-align: center;
	border:2px solid #45a29e;
	margin-left: auto;
	margin-right: auto;	
	padding: 2em;	
}

.project{
	color: white;
	text-decoration: none;
	padding: 16px;
	font-family: Sans-serif;
	text-align: center;
	border:2px solid #45a29e;
}

.images{
	display: inline-block;
}

footer{
	color: white; 
	text-decoration: none;
	padding: 16px;
	font-family: Sans-serif;
	text-align: center;
	border:2px solid #45a29e;
}